*{
	box-sizing: border-box;
    font-family: 'Crimson Text', serif;
}

body{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}
#contenedor-principal{
    margin-top:30%;
}
.row {
    font-family: 'Crimson Text', serif;
}

#fila1{
    background-image: url(../images/academi_zone/Fila1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
}

#fila1-izq{ 
    animation-name:aparecerDeLaIzquierda; 
    animation-duration:2s; 
}

@keyframes aparecerDeLaIzquierda {
    from{
        transform: translateX(-100%); 
    }
    to{
        transform: translateX(0%);
    }
}
.titulosDescripciones{
    margin-top: 5%; 
    font-size:2em; 
    color:white; 
    padding-left:7.5%; 
}
.descripciones{
    line-height: 30px;
    font-size: 1.5em;
    padding-left:7.5%; 
    color: white; 
    text-align: justify;
    margin-bottom: 7.5%;
}
.filasSinContenido{
    display: flex;
    height: 300px;
}

@media (max-width: 575.98px) {

 }
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*EDICION MENU_NAVEGADOR RESPONSIVE*/

	/*FIN EDICION NAVEGADOR*/

}


@media (min-width: 768px) and (max-width: 991.98px) {
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) {
    
 }

 /*==========================================
	ESTILOS APLICABLES A NAVEGADOR Y FOOTER
  ===========================================*/
/*Menu de navegacion principal*/
.navbar{
	opacity:0.9; /*Opacidad de navegador principal */
	
}
#brand-title{
	font-family: 'Cinzel Decorative', cursive;
}
#navbarNav{
	flex-direction:row-reverse;
}
#lista {
	opacity:0.8;
}
#lista > li > a{
	padding-left:3vw;
}


@media (max-width: 575.98px) {
	#brand-title{
		font-size: 4.5vw;
	}
	#lista {
		font-size: 1.5em;
		opacity:0.8;
	}

 }
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*EDICION MENU_NAVEGADOR RESPONSIVE*/
	#brand-title{
		font-size: 1.5em;
	}
	#lista {
		color:white;
		font-size: 1.4em;
		opacity:0.8;
	}
	/*FIN EDICION NAVEGADOR*/

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*EDICION DE MENU*/
	#brand-title{
		font-size: 1em;
	}
	#lista {
		font-size: 1em;
		opacity:0.8;
	}
	/*FIN EDICION DE MENU*/
 }
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

#brand-title{
	font-size: 1.6em;
}
#lista {
	font-size: 1.2em;
	opacity:0.8;
}

}
/* COMIENZO EDICION FOOTER */
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#brand-title{
		font-size: 1.7em;
	}
	#lista {
		font-size: 1.6em;
		opacity:1;
	}
 }

 #contenedor-iconos{
   height:250px;
   background-color:  #343a40;
   width: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
 }
 .area-link{
   height: 20%;
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .iconos{
    width: 100%;
    height:100%;

 }
  /*FIN EDICION FOOTER */
  /*FIN ESTILOS DE NAVEGADOR Y FOOTER (COMUN A TODOS LOS ARCHIVOS CSS DE LAS PAGINAS PRINCIPALES)*/