/*EL OBJETIVO DE ESTE DOCUMENTO ES PROPORCIONAR MODIFICACIONES EN CASO DE CAMBIO DE DISPOSITIVO FISICO MOVIL, TABLE, PC, SMARTTV...etc*/
@media (max-width: 575.98px) {
	.descriptions{
		font-size: 1.4em;
		text-align: center !important;
	}
	.row-titles{
		font-size:2.9em;
		color:white;
	}

	#brand-title{
		font-size: 1.7em;
	}
	#lista {
		font-size: 1.5em;
		opacity:0.8;
	}
	#webtitle-right{
			margin-left:-35%;
			margin-top:130px;
	}

	#webtitle-left{
			margin-left:65%;
			margin-top:130px;
	}
 }
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.descriptions{
		font-size: 1.9em;
		text-align: center !important;
	}
	.row-titles{
		font-size:3.5em;
		color:white;
	}

	#brand-title{
		font-size: 1.5em;
	}
	#lista {
		color:white;
		font-size: 1.4em;
		opacity:0.8;
	}
	#webtitle-right{
			margin-left:-35%;
			margin-top:130px;
	}

	#webtitle-left{
			margin-left:65%;
			margin-top:130px;
	}
	}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.descriptions{
		font-size: 1.8em;
		text-align: center !important;
	}
	.row-titles{
		font-size:3.5em;
		color:white;
	}

	#brand-title{
		font-size: 1em;
	}
	#lista {
		font-size: 1em;
		opacity:0.8;
	}
	#webtitle-right{
			margin-left:-25%;
			margin-top:130px;

	}

	#webtitle-left{
			margin-left:75%;
			margin-top:130px;
	}

 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.descriptions{
		font-size: 1.9em;
		text-align: center !important;
	}
	.row-titles{
		font-size:3.5em;
		color:white;
	}

#brand-title{
	font-size: 1.6em;
}
#lista {
	font-size: 1.2em;
	opacity:0.8;
}
#webtitle-right{
		margin-left:-17%;
		margin-top:130px;

}

#webtitle-left{
		margin-left:83%;
		margin-top:130px;
}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.descriptions{
		font-size: 2.1em;
		text-align: center !important;
	}
	.row-titles{
		font-size:4em;
		color:white;
	}
	#brand-title{
		font-size: 1.7em;
	}
	#lista {
		font-size: 1.6em;
		opacity:1;
	}

	#webtitle-right{
			margin-left:-18%;
			margin-top:130px;

	}

	#webtitle-left{
			margin-left:82%;
			margin-top:130px;

	}
 }
