*{
	box-sizing: border-box;
  font-family: 'Crimson Text', serif;
}
/*Menu de navegacion principal*/
.navbar{
	opacity:0.9; /*Opacidad de navegador principal */
}
#brand-title{
	font-family: 'Cinzel Decorative', cursive;
}

#navbarNav{
	flex-direction:row-reverse;
}
#lista {
	opacity:0.8;
}
#lista > li > a{
	padding-left:3vw;
}
/*Imagen principal de pagina de inicio*/

.main-image {
	width: 100%;
	height: auto;
}
#welcome-Box{
	position:relative;
	width: 100%;
	height: auto;
	font-size: 1.5vw;
}
.home-Welcome-textBox{
	position:absolute;
		top:35%;
		background-color: #343a40;
		padding: 1%;
		left:10%;
		opacity: 0.7;
		-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}
.home-Welcome-textBox:hover{
	  position:absolute;
		top:35%;
		background-color: #343a40;
		padding: 1%;
		left:10%;
		opacity:0.9;
		-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
     box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}
#home-welcome-text{
	color:white;
	margin-bottom:2px;
	font-family: 'Crimson Text',sans-serif;
}

pre > h3 {
	font-size: 2vw;
	font-style: bold;
	color:white;
	font-family: 'Crimson Text', serif;
  margin-bottom: -0.5%;
}


/*Primera fila deslizable de seccion Academia*/
#DescripcionAcademia{
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 4% 10% 4% 10%;
	overflow: hidden;
}
#deslizableSuperiorAcademia{
	position:absolute;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	transition: transform 2s easet;
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/
}

#DescripcionAcademia:hover > #deslizableSuperiorAcademia{
	transform:translate(-100%,0);
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/

}

/*FIN PRIMERA FILA DESLIZABLE ACADEMIA*/

#webDesing-description{
	display:flex;
	justify-content: center;
	align-items: center;
	padding:4% 10% 4% 10%;
}


.sliding-half{
	height: 100%;
	background-color:#343a40 ;
	width: 50%;
}
#full-slider{
	height: 100%;
	overflow: hidden;
	position:absolute;
	padding:0;
}
#right-slider{
	overflow: hidden;
	position:absolute;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	right: 0px;
	transition: transform 2s ease;
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/
}
#left-slider{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	overflow: hidden;
	transition: transform 2s ease;
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/
}

#full-slider:hover > #left-slider{
	transform: translate(-100%,0);
	-webkit-transform: translate(-100%,0); /** Chrome & Safari **/
	-o-transform: translate(-100%,0); /** Opera **/
	-moz-transform: translate(-100%,0); /** Firefox **/
	transition: transform 2s ease;
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/
}
#full-slider:hover > #right-slider{
  transform: translate(100%,0);
	-webkit-transform: translate(100%,0); /** Chrome & Safari **/
	-o-transform: translate(100%,0); /** Opera **/
	-moz-transform: translate(100%,0); /** Firefox **/
	transition: transform 2s ease;
	-webkit-transition: transform 2s ease; /** Chrome & Safari **/
	-moz-transition: transform 2s ease; /** Firefox **/
	-o-transition: transform 2s ease; /** Opera **/
}


 /*

   FILA DESLIZABLE DE MELODIAS

 */
 #DescripcionMelodias{
	 		display:flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			overflow: hidden;
			padding:4% 12% 4% 12%;
 }

 #deslizableSuperiorMelodias {
	    position:absolute;
	 		display:flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			background-color: #343a40;
			transition: transform 2s easet;
			-webkit-transition: transform 2s ease; /** Chrome & Safari **/
			-moz-transition: transform 2s ease; /** Firefox **/
			-o-transition: transform 2s ease; /** Opera **/
 }
#DescripcionMelodias:hover > #deslizableSuperiorMelodias {
      transform:  translate(100%,0);
			overflow: hidden;
			-webkit-transform: translate(100%,0); /** Chrome & Safari **/
      -o-transform: translate(100%,0); /** Opera **/
      -moz-transform: translate(100%,0); /** Firefox **/
			transition: transform 2s ease;
      -webkit-transition: transform 2s ease; /** Chrome & Safari **/
      -moz-transition: transform 2s ease; /** Firefox **/
      -o-transition: transform 2s ease; /** Opera **/
}
